<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/stocks.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> stock-trading-platform </h3>
    <ul>
      <li> ReactJS Springboot Docker SQL </li>
    </ul>
    <p> This is a full stack application built to manage trading stocks. The front-end is built using ReactJS and backend utilizes Springboot framework. </p>
    <a class="project-link" href="https://github.com/JohnPHK/stock-trading-platform">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Daily Planner </h3>
    <ul>
      <li> HTML/CSS, JS</li>
    </ul>
    <p> This is a website built for help manage daily schedules. Each day consist of 24 hours and you can schedule. A cicle is broken down into 24 pieces and you can fill specific part of your circle with a specific schedule and plan day ahead </p>
    <a class="project-link" href="https://johnphk.github.io/DailyPlanners/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> TextYourTile </h3>
    <ul>
      <li> ReactJS ExpressJS MongoDB</li>
    </ul>
    <p> This is a MERN full stack web application with primary purpose to fill and decorate the canvas. The canvas consists of tiles and tiles can be filled with texts you write. To navigate around the canvas you can simpley click and drag. There is also, login and sign-up feature for personalization of a canvas</p>
    <a class="project-link" href="https://github.com/JohnPHK/TextYourTile/">Check it out</a>
  </div>
</div>

