<div class="user-details">
  <h1> Technical Skills </h1>
</div>
<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-bootstrap-plain-wordmark colored"></i>
    <i class="devicon-sass-original colored"></i>
    <p> I am able to design html/css like to do so sometimes. Also, for the betterment of design, I use bootstrp often </p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-react-original-wordmark colored"></i>
    <i class="devicon-c-plain-wordmark colored"></i>
    <p> I can code in various languages from application level such as javascript and java to low level C</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain"></i>
    <i class="devicon-linux-plain colored"></i>
    <i class="devicon-vim-plain"></i>
    <p> My primary tool for coding is Vim and secondary VScode. I like to play in linux terminal </p>
  </div>
</div>
