<div class="user-details">
  <h1> Technical Skills </h1>
</div>
<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-bootstrap-plain-wordmark colored"></i>
    <i class="devicon-sass-original colored"></i>
    <p> I am a capable front-end developer who can come up with innovative design using html/css. I also use bootstrap to complement my design and for the better user experience of an application adosfa;sdojf;ad a;dofjdsofjoi;afo</p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-java-plain-wordmark colored"></i>
    <i class="devicon-react-original-wordmark colored"></i>
    <i class="devicon-c-plain-wordmark colored"></i>
    <p> Java has became my primary language due to my professional experience. I am also capable of coding in python, Javascript, C due to my keen interest in different technologies requiring different programming language knowledge</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain"></i>
    <i class="devicon-linux-plain colored"></i>
    <i class="devicon-vim-plain"></i>
    <p> I am capable of using various tools for my development - mainly use vscode or IDE (ex. IntelliJ) appropriate to the framework being used. Furthermore, for quick configuration editing, I use terminal + vim combination for swift completion of my work</p>
  </div>
</div>
